PRISMA_DB_NAME=prizma
PRISMA_DB_USER=prizma_app
PRISMA_DB_PASSWORD=replace_with_a_long_random_password
PRISMA_DB_ROOT_PASSWORD=replace_with_another_long_random_password
PRISMA_JWT_SECRET=replace_with_at_least_64_random_characters
PRISMA_ADMIN_PASSWORD=replace_with_a_unique_admin_password
PRISMA_FRONTEND_URL=http://SERVER_IP

GOOGLE_SHEETS_RECLUTAMIENTO_ENABLED=false
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
